---
import '@/styles/global.css'
import { Font } from 'astro:assets'
import 'vue-sonner/style.css'
import { Toaster } from '@/components/ui/sonner'
---

<html lang="de" class="dark">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-inter" preload />
    <title>DimeTime</title>
  </head>
  <body
    class="bg-background text-foreground min-h-screen font-sans antialiased"
  >
    <Toaster client:load />
    <slot />
  </body>
</html>
