---
import '@/styles/global.css'
import { Font } from 'astro:assets'
import 'vue-sonner/style.css'
import { Toaster } from '@/components/ui/sonner'
---

<html lang="de">
  <head>
    <script is:inline>
      ;(function () {
        const stored = localStorage.getItem('vueuse-color-scheme')
        let isDark = true // default to dark
        if (stored === 'auto') {
          isDark = window.matchMedia('(prefers-color-scheme: dark)').matches
        } else if (stored === 'light') {
          isDark = false
        } else if (stored === 'dark') {
          isDark = true
        }
        document.documentElement.classList.toggle('dark', isDark)
      })()
    </script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <Font cssVariable="--font-inter" preload />
    <title>DimeTime</title>
  </head>
  <body
    class="bg-background text-foreground min-h-screen font-sans antialiased"
  >
    <Toaster client:load />
    <slot />
  </body>
</html>
